[Unit]
Description=ReplyBot Service
Wants=network-online.target direwolf.service
After=network-online.target direwolf.service

[Service]
Type=simple
# I found that the bot couldn't find the network when it first started, thus added a delay
ExecStartPre=/bin/sleep 15
ExecStart=/<path to>/myenv/bin/python /<path to>/iorethd /<path to>/aprsbot.conf
WorkingDirectory=/<path to>
**Environment="VIRTUAL_ENV=/<path to>/myenv"**
**Environment="PATH=/<path to>/myenv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"**
Environment="PYTHONPATH=/opt/aprsbot"
StandardOutput=append:/opt/aprsbot/logs/replybot.err
StandardError=append:/opt/aprsbot/logs/replybot.log
Restart=always
User=<user>



[Install]
WantedBy=multi-user.target
