cronex >= 0.1.3.1

These are eveything that is downloaded in my .../venv/lib64/site-packages directory.

flask
flask-3.1.1.dist-info
flask_cors
flask_cors-6.0.1.dist-info
gunicorn
gunicorn-23.0.0.dist-info
idna
idna-3.10.dist-info
itsdangerous
itsdangerous-2.2.0.dist-info
jinja2
jinja2-3.1.6.dist-info
kiss
kiss-7.0.0.dist-info
markupsafe
MarkupSafe-3.0.2.dist-info
packaging
packaging-25.0.dist-info
pip
pip-23.0.1.dist-info
pkg_resources
__pycache__
pyserial-3.5.dist-info
requests
requests-2.32.4.dist-info
serial
setuptools
setuptools-66.1.1.dist-info
urllib3
urllib3-2.5.0.dist-info
werkzeug
werkzeug-3.1.3.dist-info
Pytz-2025.2

